@charset "UTF-8";

/* A variation on Eric Meyer's CSS Reset:
   This is disabled because the Blueprint framework already has it.
   You should enable it if you aren't using Blueprint.*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
abbr,acronym {
	border:0;
}
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/

/* Text styles */
.blog-featured h2 {
	font-size: 1.5em;
	margin-bottom:0em;
}
p.readmore {
	text-indent:0;
	font-size: .9em;
}
.joomla-footer {
	font-size: .9em;
	margin-bottom: 30px;
}

/* Article functions */
ul.actions {
	clear:both;
	margin-top: -50px;
	float:right;
}
ul.actions li {
	list-style-type: none;
	float:right;
	margin-left: 10px;
}

/* Login styles */
p#form-login-username label,
p#form-login-password label {
	width: 160px;
	display:block;
}
p#form-login-remember label {
	font-size: .9em;
	font-weight: normal;
	line-height: 25px;
}
p#form-login-remember input {
	float:left;
	margin-right: 5px;
}
form#form-login ul {
	margin: 0;
	padding: 0;
}
form#form-login ul li {
	list-style-type: none;
	margin-left: 20px;
	font-size: .9em;
}

/* Image float styles */


.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
.panel {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.panel div.bg {
    width:100%;
    height:100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.67);
    color: #555555;
    opacity: .85;
    filter: alpha(opacity=85);
}

.panel .pwrap {
    position: absolute;
    top:0;
    right:100px;
    z-index: 5;
    overflow: hidden;
    width: 900px;
    margin:0 auto;
    color: #000;
}

.pwrap>ul {
    margin: 0 0 0 30px;
    overflow: hidden;
}

.container>a.trigger{
    width:46px;
    height: 162px;
    z-index: 2;
    position: fixed;
    text-decoration: none;
    top: 30%; right: 0;
    background:url(../images/rozklad.png) no-repeat;
    display: block;
}

.panel>.trigger {
    display: block;
    z-index: 2;
    position: fixed;
    text-decoration: none;
    top: 80px; right: 0;
    width: 48px;
    height: 48px;
    margin: 0 20px 0 0;
    background: url(../images/close.png) no-repeat;
}

.pwrap h4{
    text-align: center;
    margin: 15px 0 16px 0;
    font:30px "Myriad Pro";
    color:#FFFFFF;
    text-shadow: 2px 2px 1px #2D6AC8;
}


.pwrap ul>li {
    width:208px;
    height:270px;
    margin: 0 33px 30px 0;
    padding: 16px 24px 0;
    float:left;
    text-align: left;
    background:url(../images/monday.png) no-repeat;
    overflow: hidden;
}

.pwrap ul>li.blue {
    background: url(../images/tuesday.png) no-repeat;
}

.pwrap ul>li.red {
    background: url(../images/wednesday.png) no-repeat;
}

.pwrap ul>li.panel_new_row {
    margin: 0 38px 0 140px;
}

.pwrap ul>li h5 {
    text-align: center;
    font: bold italic 16px "Myriad Pro";
    margin:0 0 8px 0;
    color:#3C3C3C;
}

.pwrap ul>li dt {
    width:32px;
    font: bold 13px "Myriad Pro";
    margin:0 8px 0 0;
    float:left;
    overflow: hidden;
    color:#3A3A3A;
}

.pwrap ul>li dd {
    float: left;
    width:164px;
    margin: 0 0 12px 3px;
    font:12px "Myriad Pro";
    color:#313131;
}
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/



/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/
/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/
/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/

.container .item-page {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 574px;
    padding: 30px 340px 0 20px;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
}

.item-page h1 {
    margin:0 0 6px;
    padding: 0 0 10px 0;
    font: bold 22px "Myriad Pro";
    color: #0C9DCC;
    border-bottom: 1px solid #9BCEE3;
}

.container .item-page .article-info {
    width:200px;
}

.item-page .published {
    margin: 0 0 4px 0;
    font: 12px "Times New Roman";
    color:#B0B0D0;
}

.item-page .img-fulltext-left {
    float:left;
    margin-right: 22px;
    margin-bottom: 8px;
}

.item-page>p {
    margin: 0 0 20px 0;
    font: 14px "Myriad Pro";
    color:#4D4D4D;
}

.container .item-page p.ptopmargin {
    margin: 10px 0 20px 0;
}

.item-page h2 {
    margin: 0 0 28px;;
    font: bold 16px "Myriad Pro";
    color: #FFA541;
    text-transform: uppercase;
}

.item-page .moduletable li {
    margin:0 0 14px 0;
}

.item-page .moduletable li a {
    font: 13px "Myriad Pro";
    color: #389DD3;
}

.item-page .moduletable {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 0 0 20px;
    width: 300px;
    float:right;
    height: 100%;
    border-left: 1px solid #e4e4e4;
    background: #FCFCFE;
}



/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/
/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/
/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/