@charset "UTF-8";


/*template - personality*/


/* A variation on Eric Meyer's CSS Reset:
   This is disabled because the Blueprint framework already has it.
   You should enable it if you aren't using Blueprint.*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse:collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
abbr,acronym {
  border:0;
}
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/
/*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*//*Reset CSS*/

/*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*/
/*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*/
/*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*//*VITYA*/

body {
    margin: 0;
    background: #000;
}

.container {
    min-width: 1055px;
}


/*HEADER*/
.header {
    background: #fff;
    overflow: hidden;
}
.header .wrap_logo {
    float: left;
    text-align: center;
    margin: 20px 200px 10px 50px;
}
.header .wrap_logo h1 {
    width: 50px;
    height: 50px;
    text-indent: -250px;
    overflow: hidden;
    background: #000;
    margin: 0 0 5px 0;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -khtml-border-radius: 15px;
}
.header .joomla-nav {
    background: none;
    border: 0;
    margin: 30px 0 0 0;
}
.header .joomla-nav li {
    min-width: 70px;
    float: left;
    list-style: none;
    margin: 0 20px;
}
.header .joomla-nav li ul {
    margin: 0 0 0 0;
    padding: 0;
    display: none;
    width: 70px;
}
/*.header .joomla-nav li.parent:hover {
    background: #99CCFF;
}*/
.header .joomla-nav li.parent:hover ul {
    display: block;
}
.header .joomla-nav li ul li {
    clear: both;
    margin: 0;
}



/*CONTENT*/
.content {
    width: 925px;
    margin: 30px auto 20px auto;
    overflow: hidden;
    padding: 0 20px 0 20px;
    background: #fff;
    border-radius: 7px;
}.content {
     overflow: hidden;
 }

/*CATEGORY NEWS*/
.content h2 {
    margin: 15px 0;
    text-align: left;
    line-height: 15px;
    font-weight: bold;
}
.content .category-desc h2, .content .contact h2     {
    line-height: 20px;
    margin: 0;
    color: #ffa542;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial,sans-serif;
}
.content .blog img {
    float: left;
    margin: 0 15px 0 0;
}
.content .blog p.readmore {
    margin: 20px 0 0 0;
}
.content .blog p.readmore a {
    color: #0099d2;
    font-size: 14px;
}
.content .blog .items-leading {
    overflow: hidden;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #9bcee3;

    min-height: 175px;
}
.content .blog .items-row {
    margin: 0 0 102px;
}
.content .item {
    overflow: hidden;
    border-bottom: 1px solid #9bcee3;
    padding: 0 0 13px 0;
    min-height: 175px;
}
.content .item p, .content .items-leading p {
    color: #4d4d4d;
    font-size: 15px;
}
.content .item h2 a, .content .items-leading h2 a {
    color: #0c9dcc;
    text-decoration: none;
    font-size: 18px;

}

/*honors_board*/

.content .honors_board .items-leading, .honors_board .item {
    border-bottom: 0;
}
.honors_board {
    padding: 30px 40px 10px 0 !important;
    border-right: 1px solid #dcdced;
}
.honors_board img {
    margin: 0 40px 20px 0;
}
.content .honors_board .items-row {
    margin: 0 0 0;
}

/*PAGINATION*/

.content .blog .pagination {
    overflow: hidden;
    padding: 10px 0 0 0;
    border-top: 1px solid #dcdced;
}
.content .blog .pagination ul {
    list-style: none;
    overflow: hidden;
    width: 365px;
    margin: 0 auto;
}
.content .blog .pagination ul>li {
    float: left;
}
.content .blog .pagination ul>li a {
    padding: 6px;
    display: block;
    color: #3ab0d5;
    font-weight: bold;
    text-decoration: none;
}
.content .blog .pagination ul li.pagination-next span, .content .blog .pagination ul li.pagination-prev span {
    background: none !important;
    color: #3ab0d5 !important;
}
.content .blog .pagination ul li span.pagenav {
    background: #0c9dcc;
    display: block;
    padding: 6px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;

}

/*.content .wrap_news .content_news h3 {
    text-decoration: underline;
    margin: 0 0 10px 0;
}*/

/*CONTACTS*/


.content .contact {
   float: left;
    margin: 0 40px 0 0;
}
.content .contact h2 {
}
.content .contact span, .content .contact span a {
    color: #4c4c4c;
    font-size: 15px;
}
.content .contact h2 span {
    font-size: 18px;
    color: #ffa542;
    line-height: 20px;
    font-family: Arial,sans-serif;
}
.content .contact h3 {
    font-weight: bold;
    color: #4c4c4c;
    font-size: 16px;
    font-family: Arial;
    margin: 15px 0 0 0;
    line-height: 20px;
}
.content .contact h3.form {
    margin: 15px 0 11px 0;
}
.content .blog, .content .contact {
    overflow: hidden;
    padding: 30px 0 10px 0;
}
.content .contact .dmt-social-links {
    height: 32px;
}

.content .contact .contact-form dd {
    overflow: hidden;
}
.content .contact .contact-form input, .content .contact .contact-form textarea {
    width: 196px;
    height: 18px;
    border: 1px solid #b8d0e3;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 6px 12px;
    color: #6d6fa9;
    font-size: 16px;
    font-weight: bold;
}
.content .contact .contact-form textarea {
    width: 430px;
    height: 90px;
    padding: 10px 0 0 10px;
}
.content .contact .contact-form button {
    border-bottom: 2px solid #414270;
    border-radius: 5px;
    background: #6c6ea9;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    padding: 9px 40px;
    float: right;
}
/*.content .contact .contact-form .submit {
    text-align: right;
}

    /*MAP*/
.content .asterisk {
    float: none;
    margin: 0 0 0 10px;
}
.content #wrap_map {
    overflow: hidden;
    margin: 30px 0 0 0;
}
.content #wrap_map h3 {
    font-weight: bold;
    color: #00aff0;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 0 15px;
    font-family: Arial,sans-serif;
}
.content .gmap {
    overflow: hidden;
}
/*LEADERBOARD*/

/*.content .blog {
    width: 620px;
    float: left;
}*/
.content .artuniversallightbox_container {
    width: 300px;
    clear: none;
    float: right;
    text-align: center;
    padding: 60px 0 0;
    background: #fcfcfe;
    /*border-left: 1px solid #dcdced;*/
}
.content .artuniversallightbox_container img {
    margin: 0 11px 30px 0;
}
/*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*/
/*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*/
/*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*//*END VITYA*/


/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
/*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*//*SHEDULER SHEDULER SHEDULER*/
.panel {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

.panel div.bg {
    width:100%;
    height:100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.67);
    color: #555555;
    opacity: .85;
    filter: alpha(opacity=85);
}

.panel .pwrap {
    position: absolute;
    top:0;
    right:100px;
    z-index: 5;
    overflow: hidden;
    width: 900px;
    margin:0 auto;
    color: #000;
}

.pwrap>ul {
    margin: 0 0 0 30px;
    overflow: hidden;
}

.container>a.trigger{
    width:46px;
    height: 162px;
    z-index: 2;
    position: fixed;
    text-decoration: none;
    top: 30%; right: 0;
    background:url(../images/rozklad.png) no-repeat;
    display: block;
}

.panel>.trigger {
    display: block;
    z-index: 2;
    position: fixed;
    text-decoration: none;
    top: 80px; right: 0;
    width: 48px;
    height: 48px;
    margin: 0 20px 0 0;
    background: url(../images/close.png) no-repeat;
}

.pwrap h4{
    text-align: center;
    margin: 15px 0 16px 0;
    font:30px "Myriad Pro";
    color:#FFFFFF;
    text-shadow: 2px 2px 1px #2D6AC8;
}


.pwrap ul>li {
    width:208px;
    height:270px;
    margin: 0 33px 30px 0;
    padding: 16px 24px 0;
    float:left;
    text-align: left;
    background:url(../images/monday.png) no-repeat;
    overflow: hidden;
}

.pwrap ul>li.blue {
    background: url(../images/tuesday.png) no-repeat;
}

.pwrap ul>li.red {
    background: url(../images/wednesday.png) no-repeat;
}

.pwrap ul>li.panel_new_row {
    margin: 0 38px 0 140px;
}

.pwrap ul>li h5 {
    text-align: center;
    font: bold italic 16px "Myriad Pro";
    margin:0 0 8px 0;
    color:#3C3C3C;
}

.pwrap ul>li dt {
    width:32px;
    font: bold 13px "Myriad Pro";
    margin:0 8px 0 0;
    float:left;
    overflow: hidden;
    color:#3A3A3A;
}

.pwrap ul>li dd {
    float: left;
    width:164px;
    margin: 0 0 12px 3px;
    font:12px "Myriad Pro";
    color:#313131;
}
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/
/*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*//*END SHEDULER END SHEDULER*/



/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/
/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/
/*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*//*SINGLE NEW PAGE*/

.container .item-page {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 574px;
    padding: 30px 340px 0 20px;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
}

.item-page h1 {
    margin:0 0 6px;
    padding: 0 0 10px 0;
    font: bold 22px "Myriad Pro";
    color: #0C9DCC;
    border-bottom: 1px solid #9BCEE3;
}

.container .item-page .article-info {
    width:200px;
}

.item-page .published {
    margin: 0 0 4px 0;
    font: 12px "Times New Roman";
    color:#B0B0D0;
}

.item-page .img-fulltext-left {
    float:left;
    margin-right: 22px;
    margin-bottom: 8px;
}

.item-page>p {
    margin: 0 0 20px 0;
    font: 14px "Myriad Pro";
    color:#4D4D4D;
}

.container .item-page p.ptopmargin {
    margin: 10px 0 20px 0;
}

.item-page h2 {
    margin: 0 0 28px;;
    font: bold 16px "Myriad Pro";
    color: #FFA541;
    text-transform: uppercase;
}

.item-page .moduletable li {
    margin:0 0 14px 0;
}

.item-page .moduletable li a {
    font: 13px "Myriad Pro";
    color: #389DD3;
}

.item-page .moduletable {
    position: absolute;
    top: 0;
    right: 0;
    padding: 35px 0 0 20px;
    width: 300px;
    float:right;
    height: 100%;
    border-left: 1px solid #e4e4e4;
    background: #FCFCFE;
}



/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/
/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/
/*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*//*END SINGLE NEW PAGE*/
