.dmt-add-item
{
	float: left;
    margin: 5px 5px 5px 0;
    width: auto;
}

.dmt-item
{ 
	overflow: hidden; 
	margin: 0 0 10px; 
	position: relative; 
}

#dmt-item-template .icon-remove
{ 
	display: none; 
}

/* Icons
------------------------------------------ */

.icon
{
	display: inline-block;
	height: 16px;
	width: 16px;
}

.icon-remove,
.icon-add
{
	vertical-align: middle;
	cursor: pointer;
}

.icon-remove
{
	float: right;
	margin: 5px 5px 5px 0;
	
	background: url(images/cancel_16.png) no-repeat 50% 50%;
}

.icon-add
{
	background: url(images/add_16.png) no-repeat 50% 50%;
}

.button-add
{
	cursor: pointer;
	text-decoration: none !important;
	text-align: center;
	padding: 5px 10px 5px 8px;
	margin: 0 0 10px;
	float: left;
	
	background: green;
	background: -moz-linear-gradient(90deg, #239B35, #2CB240);
	background: -webkit-gradient(linear, left top, left bottom, from(#2CB240), to(#239B35));
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 -21px 0 rgba(0, 0, 0, 0.05) inset, 0 0 15px rgba(0, 0, 0, 0.3) inset, 0 3px 2px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 -21px 0 rgba(0, 0, 0, 0.05) inset, 0 0 15px rgba(0, 0, 0, 0.3) inset, 0 3px 2px -2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1) inset, 0 -21px 0 rgba(0, 0, 0, 0.05) inset, 0 0 15px rgba(0, 0, 0, 0.3) inset, 0 3px 2px -2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 0 #2CB240;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}